@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --font-dm-serif:"DM Serif Text", sans-serif;
}
body
{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.bookingActionBtn
{
  animation-name:action_1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;

}
@keyframes action_1 {
  0% {opacity:0; background-color:white;}
  20% {opacity:0.4; background-color:green;}
  60% {opacity:0.8; background-color: aquas;}
  100% {opacity:1.0; background-color: #dfcc29;} 
}


/* 0733 623 260 */
/*