@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

body
{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  background-image:linear-gradient(to right, rgba(53, 53, 102, 0.582), rgb(66, 66, 94));
}

.bookingActionBtn
{
  animation-name:action_1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;

}
@keyframes action_1 {
  0% {opacity:0; background-color:white;}
  20% {opacity:0.4; background-color:green;}
  60% {opacity:0.8; background-color: aquas;}
  100% {opacity:1.0; background-color: #dfcc29;} 
}

/* 0733 623 260 */
/*