@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --font-dm-serif:"DM Serif Text", sans-serif;
}
body
{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
}

.bookingActionBtn
{
  animation-name:action_1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;

}
@keyframes action_1 {
  0% {opacity:0; background-color:white;}
  20% {opacity:0.4; background-color:green;}
  60% {opacity:0.8; background-color: aquas;}
  100% {opacity:1.0; background-color: #dfcc29;} 
}


/* 0733 623 260 */



@keyframes successMsg {
  from { background-image:linear-gradient(to right, rgba(52, 180, 26, 0), rgba(19, 202, 34, 0.904));}
  to {background-image: linear-gradient(to right, rgba(19, 202, 34, 0.904), rgba(52, 180, 26, 0.192));}
}
.newFlightSuccess {
  @apply rounded-md w-[300px] p-[10px] text-center text-gray-900 mx-auto mt-[10px];
  
  animation-name:successMsg;
  animation-duration: 5s;
  animation-duration: ease-in;
  animation-iteration-count: infinite;
}


.successMessage
{
  @apply bg-green-500 py-[5px] px-[10px] rounded-md w-1/4;
}

.loader
{
  border:2px solid white;
  max-width: 150px;
  margin: 0 auto;
  /* padding:60px; */
  /* border-radius:100%; */
}
@keyframes dot-animation {
  from {color: white;}
  to {color: blue;}
}
.dots-loader
{
  @apply text-[21px];
  animation-name: dot-animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}